.button, .buttonActive {
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

.button[title]:hover::after {
  background-color: green;
}

.buttonActive {
  background-color: var(--selected);
}

.hovered {
  background-color: var(--hovered);
}

.label {
  font-weight: 600;
  font-size: var(--font-xs);
  color: var(--text-gray);
  text-align: center;
}

.bar {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;

  border-top: 1px solid var(--border-gray);
  // border-bottom: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);

  // padding-bottom: 5px;
  margin-bottom: 5px;
}

.unselectable {
  color: var(--text-gray);
  cursor: auto;
}
  