/* Copyright 2022-2023 Theo Weidmann. All rights reserved. */
.icons {
  height: 400px;
  width: 500px;
  overflow: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 40px);
  align-items: start;
  grid-auto-rows: min-content;
  margin-top: 20px;
}
