/* Copyright 2022-2023 Theo Weidmann and others. All rights reserved. */
.operation {
  padding: var(--space-1) var(--space-2);
  border-radius: var(--medium-radius);
  margin: var(--space-2) var(--space-3);
  display: flex;
  align-items: center;

  cursor: pointer;

  &:first-child {
    margin-top: var(--space-3);
  }

  &:hover:not(.selected) {
    background-color: var(--hovered);
  }

}

.selected {
  background-color: var(--selected);
}

.h {
  font-family: inherit;
  font-size: var(--font-sm);
  display: inline-block;
}

.delete {
  margin-left: auto;
  cursor: pointer;
}

.noPointerEvents {
  pointer-events: none;
}
