/* Copyright 2022-2023 Theo Weidmann. All rights reserved. */
.sizer {
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
  flex-grow: 1;
  flex-shrink: 0;
}

.container,
.svg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  z-index: 1;
}

.svg {
  z-index: -1;
  pointer-events: none;
}

.edgeDropZone {
  z-index: 90;
  position: absolute;
}
