.bar {
  position: relative;
  background-color: var(--background-gray);
  z-index: 100;
  top: 0;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  padding: 0 10px;
  height: var(--top-bar-height);
  border-bottom: 1px solid var(--border-gray);
  font-size: var(--font-xs);
  align-items: center;

  h1 {
    margin: 0 auto;
  }
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}
