/* Copyright 2022-2023 Theo Weidmann. All rights reserved. */
.titleBar {
  display: flex;
  border-bottom: 1px solid var(--interact-tint);
  padding: 19px 20px;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
}

.title {
  font-size: var(--font-md);
  font-weight: 600;
}

.inner {
  position: relative;
  padding: 20px;
}

.content {
  border-radius: var(--small-radius);
  border: 1px solid var(--interact-tint);
  border-top: 3px solid var(--interact-tint);
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.overlay {
  padding: 40px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
}
