/* Copyright 2022-2023 Theo Weidmann. All rights reserved. */
.node {
  box-sizing: border-box;
  border-radius: var(--node-border-radius);
  width: var(--node-width);
  height: var(--node-height);
  background-color: var(--node-color);
  text-align: center;
  color: white;
  // cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
  border: var(--node-border-width) solid var(--node-border-color);

  &.selected {
    .label, &::after {
      display: block;
    }

    box-shadow: 0 0 8px 0 rgba(0,0,0,0.37), 0 0 11px 4px rgba(163,198,255,0.80);
  }

  &.highlighted {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.37), 0 0 11px 4px rgba(163,198,255,0.80);
    border-style: solid;
    border-color: var(--light-orange);
  }

  &:hover {
    &:not(.forbiddenArgument) {
      box-shadow: 0.15s;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
      cursor: pointer;
    }

    &.toolInUse {
      .label {
        display: block;
      }
    }
  }

  &.hidden {
    opacity: 0.5;
  }

  &::after {
    $bw: 4px;
    content: ' ';
    position: absolute;
    top: calc(#{-$bw} - var(--node-border-width));
    left: calc(#{-$bw} - var(--node-border-width));
    width: calc(var(--node-width) + #{$bw * 2});
    height: calc(var(--node-height) + #{$bw * 2});
    border-radius: calc(var(--node-border-radius) + #{$bw});
    display: none;
    box-sizing: border-box;
    z-index: 1;
    border: $bw solid #5c9dff;
  }
}

.label {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: -5px;
  line-height: 1;
  z-index: 2;
  white-space: nowrap;

  span {
    padding: var(--space-1) var(--space-3);
    line-height: 1;
    border-radius: var(--big-radius);
    font-size: var(--font-sm);
    color: var(--text-gray);
    background-color: var(--hover-gray);
  }
}

.editable {
  font-size: var(--font-xs);
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: var(--green);
  color: white;
  text-align: center;

  :global(.material-icons-outlined) {
    font-size: var(--font-xs);
    line-height: 16px;
  }
}
