/* Copyright 2022-2023 Theo Weidmann. All rights reserved. */
.palette {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: var(--background-gray);
  overflow: auto;
  border-top: 1px solid var(--border-gray);
  padding-top: 12px;
}

.literals {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow-x: scroll;
  padding: var(--space-4);
  padding-bottom: var(--space-5);
  -webkit-overflow-scrolling: touch;

  &::before, &::after {
    content: '';
    margin: auto;
  }

  > * {
    flex-shrink: 0;
  }
}

.literalEntryDivisor {
  width: 1px;
  align-self: stretch;
  border-right: 1px solid var(--border-gray);
}

.editButton {
  position: absolute;
  top: var(--space-3);
  right: var(--space-4);
}

.text {
  flex: 1;
  color: var(--interact-tint);
}

.close {
  padding-left: 4px;
  color: var(--interact-tint);
}

.types {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.typeButton {
  font-weight: 500;
  font-size: var(--font-xs);
  text-transform: uppercase;
  padding: 3px 10px;
  color: var(--interact-tint);
  letter-spacing: 0.3px;
  border-radius: var(--big-radius);
  margin: 0 4px;

  &.active {
    color: white;
    background-color: var(--interact-tint);
  }
}
