/* Copyright 2022-2023 Theo Weidmann and others. All rights reserved. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  appearance: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 400px 1fr 300px;
}

.runContainer {
  width: 100%;
  height: 100%;
}

.preview {
  position: relative;
}

:root {
  --font-xl: 1.424rem;
  --font-lg: 1.266rem; /* 20px */
  --font-md: 1.125rem; /* 18px */
  --font-std: 1rem;
  --font-sm: 0.889rem; /* 14px */
  --font-s: 0.86rem;
  --font-xs: 0.79rem; /* 11.24px */
  --font-xxs: 0.5rem; /* 11.24px */

  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 0.75rem;
  --space-5: 1rem;
  --space-6: 1.5rem;
  --space-7: 2rem;
  --space-8: 2.5rem;
  --space-9: 3rem;
  --space-10: 4rem;
  --space-11: 5rem;
  --space-12: 6rem;

  --small-radius: 4px;
  --medium-radius: 6px;
  --big-radius: 25px;
  --top-bar-height: 3rem;
  --sidebar-padding: var(--space-5);

  /* Brand colors */
  --green: #007800;
  --red: #ff2f00;
  --blue: #0048dd;
  --purple: #762f95;
  --pink: #ff7da4;
  --light-blue: #00b7ff;
  --orange: #ff8500;
  --yellow: #cfcf1e;
  --light-green: #04fa13;
  
  --light-red: #f3e3e3;
  --light-orange: #f7f0e9;
  --light-green: #e3f3e4;

  --background-gray: #FCFDFF;
  --background-lightblue: #e6f7ff;
  --background-lighterblue: #f2faff;
  --hover-gray: #f2f3fc;
  --border-gray: #e3e2e1;
  --text-gray: #7d7d7c;
  --interaction-gray: #575757;
  --off-black: #312f31;

  --interact-tint: #0270F5;
  --interact-tint-lighter: #0573fa;
  --selected: #c7e1ff;
  --hovered: #e6f7ff;

  --pattern-match: var(--pink);

  --node-color: var(--blue);
  --node-border-radius: 15px;
  --node-border-width: 0;
  --success-color: var(--green);

  --query-light: #CAE9FF;
  --query: var(--light-blue);
  --action: var(--orange);
  --action-light: #ffdfbf;

  --maybe: var(--red);

  --debug: #00b700;
  --debug-selected: #cfc;

  --light-orange: #ffc56f;

  --flowchart-action: var(--blue);
  --flowchart-query: var(--orange);
  --flowchart-action-icon: var(--light-blue);
  --flowchart-query-icon: var(--light-orange);
  --flowchart-line: var(--off-black);

  --green-background: #e3f3e4;
  --red-background: #ffe6e6;

  /* slightly green */
  --user-defined: #00b7ff;
}
